<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="QuizBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup><userSettings>
        <QuizBot.Properties.Settings>
            <setting name="Max_Users" serializeAs="String">
                <value>35</value>
            </setting>
            <setting name="Join_Time" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="Rolelist" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="Min_Users" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Night_Cycle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Day_Cycle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Voting_Cycle" serializeAs="String">
                <value>0</value>
            </setting>
        </QuizBot.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
